
/* Resets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
header{
  width: 100vw; 
  height: 50px;
  background-color: blue;
  position: absolute;
  top: 0; 
  display: flex;
}


/* Hero */
.hero-banner {
  width: 100vw; 
  height: 400px; 
  background-image: url(../images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#profile_icon {
  border: 5px solid white; 
  border-radius: 50%;
  width: 20%; 
  max-width: 300px;
  position: sticky;
  top: 50%; 
  bottom: 80px; 

}
