
/* Colour Palette
contrast colour
rgb(166 133 82) #A68552 metallic sunburst
*/

/* Resets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
header {
  width: 100vw; 
  height: 50px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header h1 {
  margin: 5px;
}

header nav {
  flex-grow: 1; 
}
header .nav-link {
  text-decoration: none;
  color: black;
  margin: 5px; 
}

header .nav-link:hover {
  color: white
}


/* Hero */
.hero-banner {
  width: 100vw; 
  height: 400px; 
  background-image: url(
    ../images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

#profile_icon { 
  border-radius: 50%;
  margin: 5px;
  width: 20%; 
  max-width: 250px;
  max-height: 250px; 
}

#hero_subtitle {
  z-index: 1;
  width: 30%;
  height: 20%;
  justify-self: flex-end;
  background-color: rgb(255,255,255,0.8);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border: 2px solid white;
}

#hero_subtitle h2 {
  color: 
}

/* main */
/* work */