
/* Resets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
header{
  width: 100vw; 
  height: 50px;
  background-color: rgb(22, 56, 36);
  display: flex;
}


/* Hero */
.hero-banner {
  width: 100vw; 
  height: 400px; 
  background-image: url(
    ../images/hero-bg-robert-anasch-u6AQYn1tMSE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

#profile_icon {
  border: 5px solid rgb(22, 56, 36); 
  border-radius: 50%;
  margin: 5px;
  width: 20%; 
  max-width: 250px;
  max-height: 250px; 
}

#hero_subtitle {
  width: 30%;
  justify-self: flex-end;
}
